{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-3 maxwidth">
                <div class="card card-body h-100 border-info" id="profile-wrapper" style="border-radius: 15px">
                    <img id="profile-pic" src="/static/Profile_picture.png">
                    <hr>
                    <h4>Sebastian</h4>
                    <p>I like programming, creating and collaborating</p>
                </div>
            </div>
            <div class="col-md-9 maxwidth">
                <div class="card card-body h-100 border-info" style="border-radius: 15px">
                    <h4>Welcome in my portfolio!</h4>
                    <hr>
                    <p>Hey, my name is Sebastian, ...</p>
                    <p>...</p>
                    <p>your description here</p>
                    <p>...</p>

                    <u1 class="social-links" style="z-index: 100;">Kontakt:
                        <li><a href="https://www.facebook.com/sebastian.brzustowicz/"><img class="social" src="/static/facebook.png"></a></li>
                        <li><a href="https://www.linkedin.com/in/sebastian-brzustowicz-135115284/"><img class="social" src="/static/linkedin.png"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCBELaZveveEfNyvaow8V9wQ"><img class="social" src="/static/youtube.png"></a></li>
                        <li><a href="https://github.com/sebastianbrzustowicz"><img class="social" src="/static/github.png"></a></li>
                         lub napisz email: your_mail@gmail.com
                    </u1>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100" style="border-radius: 15px">
                    <h5>My experience as programmer</h5>
                    <hr>
                    <p>... your description here ...</p>
                    <p>... your description here ...</p>
                </div>
            </div>
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100" style="border-radius: 15px">
                    <h5>What skills do I have?</h5>
                    <hr>
                    <p>Programming languages: <nobr>C++ <img class="social" src="/static/cpp.png">, </nobr> <nobr>C <img class="social" src="/static/c.png">, </nobr> <nobr>Python <img class="social" src="/static/python.png">, </nobr> <nobr>SQL <img class="social" src="/static/sql.png" >, </nobr> <nobr>HTML <img class="social" src="/static/html.png">, </nobr> <nobr>CSS <img class="social" src="/static/css.png">, </nobr> <nobr>PHP <img class="social" src="/static/php.png">, </nobr> <nobr>MATLAB <img class="social" src="/static/matlab.png">, </nobr> <nobr>Git <img class="social" src="/static/git.png">, </nobr> <nobr>Bash <img class="social" src="/static/bash.png">, </nobr> <nobr>PowerShell <img class="social" src="/static/powershell.png">, </nobr> <nobr>UML <img class="social" src="/static/uml.png">, </nobr> </nobr><nobr> <nobr>ST (Structured Text), </nobr> <nobr>LAD (Ladder).</nobr></p>

                    <p>Frameworks and tools: <nobr>Flask <img class="social" src="/static/flask.png">, </nobr> <nobr>Django <img class="social" src="/static/django.png">, </nobr> <nobr>PythonAnywhere <img class="social" src="/static/pythonanywhere.png">, </nobr> <nobr>PostgreSQL <img class="social" src="/static/postgre.png">, </nobr> <nobr>Insomnia <img class="social" src="/static/insomnia.png">, </nobr> <nobr>PyCharm <img class="social" src="/static/pycharm.png">, </nobr> <nobr>Visual Studio <img class="social" src="/static/visualstudio.png">, </nobr> <nobr>Arduino <img class="social" src="/static/arduino.png">, </nobr> <nobr>Code Blocks <img class="social" src="/static/codeblocks.png">, </nobr> <nobr>TIA Portal <img class="social" src="/static/tia.png">, </nobr> <nobr>OpenGL <img class="social" src="/static/opengl.png">.</nobr></p>

                    <p>Libs: NumPy <img class="social" src="/static/numpy.png">, </nobr><nobr>Matplotlib <img class="social" src="/static/matplotlib.png">, </nobr> <nobr>Pandas <img class="social" src="/static/pandas.png">, </nobr> <nobr>SciPy <img class="social" src="/static/scipy.png">.</nobr></p>

                    <p>Operating systems: <nobr>Windows <img class="social" src="/static/windows.png">, </nobr> <nobr>Linux <img class="social" src="/static/linux.png">.</nobr></p>

                    <p>and more!</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100" style="border-radius: 15px">
                    <h5>I feel good in these: <img class="social" src="/static/cpp.png"> <img class="social" src="/static/python.png"> <img class="social" src="/static/matlab.png"></h5>
                    <hr>
                    <p>... your description here ...</p>
                    <p>... your description here ...</p>
                    <p>... your description here ...</p>
                </div>
            </div>
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100" style="border-radius: 15px">
                    <h5>My education <img style="width:32px; height:32px;" src="/static/education.png"></h5>
                    <hr>
                    <h5 style="font-size: 17px">Master</h5>
                    <p>PUT | 2022 - 2023</p>
                    <p>IT department</p>
                    <p>your description here</p>
                    <hr>
                    <h5 style="font-size: 17px">Engineer</h5>
                    <p>PUT | 2018 - 2022</p>
                    <p>IT department</p>
                    <p>your description here</p>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}