{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-3 maxwidth">
                <div class="card card-body h-100 divcard" id="profile-card0" style="border-radius: 15px; border-color: black; transition: none; text-align: center;">
                    <img id="profile-pic" src="/static/Profile_picture.png" style="border: 0px das black;">
                    <hr>
                    <h4>Sebastian</h4>
                    <p>I like programming, creating and collaborating</p>
                </div>
            </div>
            <div class="col-md-9 maxwidth"> 
                <div class="card card-body h-100 divcard" id="profile-card1" style="border-radius: 15px; border-color: black; transition: none;">
                    <h4>Welcome in my portfolio!</h4>
                    <hr>
                    <p>Hello, my name is Sebastian, I am a graduate of a renowned university, the Faculty of Computer Science, and an experienced programmer in the IT industry. I'm glad you visited my website, where you can find information about me, the skills I have and the projects I participated in. I am ready to join your team and contribute to achieving your goals.</p>

                    <p>As a graduate of Automation and Robotics, which was strongly focused on programming, I have a solid foundation in the field of new technologies, automation and computer science. My professional experience includes working as a CAD designer and SPS/PLC programmer, which allowed me to gain deep knowledge of network operation, device design and programming of industrial machines.</p>

                    <u1 class="social-links" style="z-index: 100;">Contact:
                        <li><a href="https://www.facebook.com/sebastian.brzustowicz/"><img class="social" src="/static/facebook.png"></a></li>
                        <li><a href="https://www.linkedin.com/in/sebastian-brzustowicz-135115284/"><img class="social" src="/static/linkedin.png"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCBELaZveveEfNyvaow8V9wQ"><img class="social" src="/static/youtube.png"></a></li>
                        <li><a href="https://github.com/sebastianbrzustowicz"><img class="social" src="/static/github.png"></a></li>
                        or write an email: Se.Brzustowicz@gmail.com
                    </u1>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100 divcard" id="profile-card2" style="border-radius: 15px; transition: none;">
                    <h5>My experience as programmer</h5>
                    <hr>
                    <p>One of the key aspects of my career is my involvement in software design and development during various projects both during my studies and in my professional work.</p>
                    <p>These experiences played a key role in my professional development and contributed to deepening my knowledge of new technologies. It is worth emphasizing that it is impossible to fully list and describe here all the projects in which I participated. Selected ones can be found on my GitHub profile.</p>
                </div>
            </div>
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100 divcard" id="profile-card3" style="border-radius: 15px; transition: none;">
                    <h5>What skills do I have?</h5>
                    <hr>
                    <p>Programming and scripting languages: <nobr>Python <img class="social" src="/static/python.png">, </nobr> <nobr>SQL <img class="social" src="/static/sql.png" >, </nobr> <nobr>HTML <img class="social" src="/static/html.png">, </nobr> <nobr>CSS <img class="social" src="/static/css.png">, </nobr> <nobr>JavaScript <img class="social" src="/static/javascript.png">, </nobr> <nobr>PHP <img class="social" src="/static/php.png">, </nobr> <nobr>Git <img class="social" src="/static/git.png">, </nobr> <nobr>Bash <img class="social" src="/static/bash.png">, </nobr> <nobr>PowerShell <img class="social" src="/static/powershell.png">, </nobr> <nobr>C++ <img class="social" src="/static/cpp.png">, </nobr> <nobr>C <img class="social" src="/static/c.png">, </nobr> <nobr>MATLAB <img class="social" src="/static/matlab.png">, </nobr> <nobr>UML <img class="social" src="/static/uml.png">. </nobr> </p>

                    <p>Databases: <nobr>MySQL <img class="social" src="/static/mysql.png">, </nobr> <nobr>Microsoft SQL </nobr> <nobr>server </nobr> <nobr>/ TSQL <img class="social" src="/static/sqlsrv.png">, </nobr> <nobr>PostgreSQL <img class="social" src="/static/postgre.png">. </nobr> </p>

                    <p>Frameworks and tools: <nobr>Flask <img class="social" src="/static/flask.png">, </nobr> <nobr>Django <img class="social" src="/static/django.png">, </nobr> <nobr>PythonAnywhere <img class="social" src="/static/pythonanywhere.png">, </nobr> <nobr>Postman <img class="social" src="/static/postman.png">, </nobr> <nobr>Visual Studio </nobr> <nobr>Code <img class="social" src="/static/visualstudio.png"> </nobr> <nobr></nobr>(and earlier Community), </nobr> <nobr>Arduino <img class="social" src="/static/arduino.png">, </nobr> <nobr>Code Blocks <img class="social" src="/static/codeblocks.png">, </nobr> <nobr>TIA Portal <img class="social" src="/static/tia.png">, </nobr> <nobr>OpenGL <img class="social" src="/static/opengl.png">.</nobr></p>

                    <p>Libraries: NumPy <img class="social" src="/static/numpy.png">, </nobr><nobr>Matplotlib <img class="social" src="/static/matplotlib.png">, </nobr> <nobr>Pandas <img class="social" src="/static/pandas.png">, </nobr> <nobr>SciPy <img class="social" src="/static/scipy.png">.</nobr></p>

                    <p>Operating systems: <nobr>Windows <img class="social" src="/static/windows.png">, </nobr> <nobr>Linux <img class="social" src="/static/linux.png">.</nobr></p>

                    <p>and much more that I cannot mention in a few sentences!</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100 divcard" id="profile-card4" style="border-radius: 15px; transition: none;">
                    <h5>I feel good with these: <img class="social" src="/static/cpp.png"> <img class="social" src="/static/python.png"> <img class="social" src="/static/matlab.png"></h5>
                    <hr>
                    <p>My strength in C++ comes from my experience in designing and programming controllers and embedded systems. C++ is a low-level language that enables precise control over hardware and efficient management of resources that are often limited in machines such as robots or microprocessors. Thanks to this, I can create optimal and reliable software for controlling robots and industrial devices. This language was useful to me during research in two diploma theses.</p>
                    <p>Python is my high-level language of choice and is great for data processing, analytics, and machine learning tasks. Its flexibility and rich ecosystem of libraries such as NumPy, Pandas and TensorFlow enable me to efficiently process data, create machine learning models and develop web applications through Flask, as is the case with this website. It is irreplaceable in areas such as data preprocessing for artificial neural networks.</p>
                    <p>MATLAB is a tool that is perfect for analyzing and processing signals and data in the context of scientific research and engineering projects. My experience in working with MATLAB allows me to use its advanced and integrated functions to solve complex problems in the field of automation, robotics, image processing and creating simulations.</p>
                </div>
            </div>
            <div class="col-md-6 maxwidth">
                <div class="card card-body h-100 divcard" id="profile-card5" style="border-radius: 15px; transition: none;">
                    <h5>My education <img style="width:32px; height:32px;" src="/static/education.png"></h5>
                    <hr>
                    <h5 style="font-size: 17px">Master</h5>
                    <p>Poznan University of Technology | 2022 - 2023</p>
                    <p>Control Systems and Robotics</p>
                    <p>full-time studies</p>
                    <hr>
                    <h5 style="font-size: 17px">Engineer</h5>
                    <p>Poznan University of Technology | 2018 - 2022</p>
                    <p>IT department</p>
                    <p>full-time studies</p>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}