{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-9 maxwidth">
                <div class="card card-body h-100 border-info" style="border-radius: 15px;">
                    <h4>Please contact me :)</h4>
                    <hr>
                    <p>Below are links to my social media profiles:</p>

                    <u1 class="social-links" style="z-index: 100;">Facebook:
                        <li><a href="https://www.facebook.com/sebastian.brzustowicz/"><img class="social" src="/static/facebook.png"></a></li>
                    </u1>
                    <u1 class="social-links" style="z-index: 100;">Linkedin:
                        <li><a href="https://www.linkedin.com/in/sebastian-brzustowicz-135115284/"><img class="social" src="/static/linkedin.png"></a></li>
                    </u1>
                    <u1 class="social-links" style="z-index: 100;">Youtube:
                        <li><a href="https://www.youtube.com/channel/UCBELaZveveEfNyvaow8V9wQ"><img class="social" src="/static/youtube.png"></a></li>
                    </u1>
                        <u1 class="social-links" style="z-index: 100;">GitHub:
                        <li><a href="https://github.com/sebastianbrzustowicz"><img class="social" src="/static/github.png"></a></li>
                    </u1>
                    <p>Email: your_mail@gmail.com</p>
                    <p>or write a message here:</p>

                    <form action="/contact" method="post">
                        <label for="email">Email:</label><br>
                        <input type="email" id="email" name="email" placeholder="Email" style="width: 50%;" maxlength="50" required><br>
                        <label for="message">Message:</label><br>
                        <textarea type="text" id="message" name="message" placeholder="Napisz coś..." style="width: 100%; height: 35%; max-width: 100%; resize: none;" minlength="1" maxlength="1000" required></textarea><br><br>
                        <div style="text-align: center; margin-bottom: 1vh;"><input type="submit" value="Send"></div>
                        <p style="text-align: center;">Remember to enter the correct email address so that you can reply to the message.</p>
                        
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p style="text-align: center;">{{msg}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    </form><br><br>

                </div>
            </div>
        </div>
    </div>
{% endblock %}