{% extends "base.html" %}
{% block title %}Hobby{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-9 maxwidth">
                <div class="card card-body h-100 border-info" style="border-radius: 15px;">
                    <h4>Hobby</h4>
                    <hr>

                    <div class="clearfix">
                        <div class="img-container">
                        <img src="/static/cura_arm.png" alt="3D print" style="width:100%">
                        </div>
                        <div class="img-container">
                        <img src="/static/3dprint_photo1.png" alt="3D print" style="width:100%">
                        </div>
                        <div class="img-container">
                        <img src="/static/3dprint_photo2.png" alt="3D print" style="width:100%">
                        </div>
                    </div>
                    <br>
                    <h5>3D printing</h5>
                    <p>3D printing allows me to implement creative projects, including creating robots and other devices or parts in an accessible way. This process is not only rewarding, but also expands your skills. 3D printing is a perfect combination of passion for technology and creating interesting ideas.
                    </p>
                    <hr style="height:1px;background-color:black">

                    <div class="clearfix">
                        <div class="img-container2">
                        <img src="/static/stock_market.png" alt="stock" style="width:100%">
                        </div>
                        <div class="img-container2">
                        <img src="/static/bull_bear.png" alt="bull_bear"style="width:100%">
                        </div>
                    </div>

                    <br>
                    <h5>Stock market analysis</h5>

                    <p>Stock market analysis as a hobby fascinates me due to its dynamic nature. In today's turbulent times, the stock market is becoming a fascinating research field where I can observe and try to understand how global events affect financial markets. This hobby gives you the opportunity to explore intricate market mechanisms, analyze price patterns and try to predict what factors will influence price movements. It also helps me better understand investor psychology and how emotions influence decisions in the market, especially in rapidly changing times.
                    </p>
                    <hr style="height:1px;background-color:black">
                    <div class="clearfix">
                        <div class="img-container2">
                        <img src="/static/quadcopter.png" alt="quadcopter" style="width:100%">
                        </div>
                        <div class="img-container2">
                        <img src="/static/khepera3.png" alt="khepera3"style="width:100%">
                        </div>
                    </div>
                    <h5>Building and programming robots</h5>

                    <p>When creating robots, you can carefully examine and understand how various mathematically formulated object systems, mechanical systems, electronic systems and software work. Additionally, this hobby gives me the opportunity to express my creativity, create devices that can perform different tasks, and experiment with different technologies and programming platforms. Robot programming is also a way to deepen knowledge in the field of computer science and automation, which can be useful both in everyday life and in industry.</p>
                    <hr style="height:1px;background-color:black">
                    <div class="clearfix">
                        <div class="img-container2">
                        <img src="/static/graphs.png" alt="quadcopter" style="width:100%;height:80%">
                        </div>
                        <div class="img-container2">
                        <img src="/static/graphs.png" alt="quadcopter" style="width:100%;height:80%">
                        </div>
                    </div>
                    <br>
                    <h5>Dynamic systems simulation and innovative control algorithms</h5>
                    <p>This interest results from the knowledge acquired during studies and its practical application. Mathematically formulated control systems can be implemented in modern technological solutions. It is satisfying to see the result of the work working for the intended purpose along with the desired quality.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}