{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-9 maxwidth">
                <divcard class="card card-body h-100 divcard" id="profile-card10" style="border-radius: 15px; background-color: #404040 !important; transition: none;">
                    <h4>Administrator login</h4>
                    <hr>
                    <p></p>

                    <form action="#" method="post" style="text-align: center;">
                        <label for="login">Login:</label><br>
                        <input type="text" id="login" name="login" class="text_input" placeholder="Login" style="width: 50%;" maxlength="50" required><br>
                        <label for="password">Password:</label><br>
                        <input type="password" id="password" name="password" class="text_input" placeholder="Password" style="width: 50%;" maxlength="50" required><br><br>
                        <div style="text-align: center; margin-bottom: 1vh;"><input type="submit" value="Log in" class="button"></div>
                    </form><br><br>

                </divcard>
            </div>
        </div>
    </div>
{% endblock %}