{% extends "base.html" %}
{% block title %}Offer{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-9 maxwidth">
                <div class="card card-body h-100 border-info" style="border-radius: 15px;">
                    <h4>Oferta</h4>
                    <hr>
                    <p>Chętnie zajmę się tworzeniem stron internetowych takiej jak ta lub bardziej rozbudowanych z większą ilością funkcji wedle życzenia.</p>
                    <p>Przyjmuję również inne oferty z zakresu programowania niskopoziomowego oraz innych technologii wymienionych w zakładce "<a href="/about_me">O mnie</a>".</p>
                    <p>Po więcej informacji zapraszam do <a href="/contact">kontaktu</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}