{% extends "base.html" %}
{% block title %}Offer{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-9 maxwidth">
                <divcard class="card card-body h-100 divcard" id="profile-card6" style="border-radius: 15px; background-color: #404040 !important; transition: none;">
                    <h4>Offer</h4>
                    <hr>
                    <p>I would be happy to develop websites like this one or more elaborate ones with more features as desired.</p>
                    <p>I also accept other offers for low-level programming and other technologies listed under "<a href="/about_me">O mnie</a>".</p>
                    <p>For more information, please feel free to <a href="/contact">contact me</a>.</p>
                </divcard>
            </div>
        </div>
    </div>
{% endblock %}