{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<br>
    <div class="container top_and_centered">
        <div class="row">
            <div class="col-md-9 maxwidth">
                <div class="card card-body h-100 border-info" style="border-radius: 15px;">
                    <h4>Projekty</h4>
                    <hr>
                    <p>Aktualnie projekty są gromadzone na moim profilu na <a href="https://github.com/sebastianbrzustowicz">GitHubie</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}