body{
    background-color: #D6ECF3 !important;
    zoom: 100%;
}

p{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{

    max-width:100%;
    max-height:100%;
    border-radius: 50%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.top_and_centered {
  min-width: 55vw;
  position: absolute;
  left: 1%;
  right: 1%;
}

.maxwidth{
  max-width:75%;
  max-height:400%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  z-index: 0;
}

u1{
    padding: 0;
    list-style-type: none;
}

.social-links u1, li{
    list-style-type:none;
    display: inline-block;
    z-index: 2;
}

.social{
    width:20px;
    height:20px;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.img-container2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}